@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.navbar-brand {
  color: Black !important;
  font-size: 30px !important;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
